<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandwidth Monitor</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <
    <div class="container" >
        <header>
            <h1>Bandwidth Monitor</h1>
        </header>

        <section class="speed-section">
            <h2 src="bakend.py">Download Speed</h2>
            

        </section>

        <section class="speed-section">
            <h2>Upload Speed</h2>
            <p id="upload-speed"></p>
        </section>

        <section class="graph-section">
            <h2>Speed Graph</h2>
            <div id="speed-graph"></div>
        </section>

        <button id="start-button">Start Monitoring</button>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
